<template>
    <div>
        <div v-if="result" class="alert alert-info">
            <p class="text-muted">{{this.result}}</p>
        </div>
        <form class="form-horizontal">
            <input type="hidden" v-model="branch.user_id"/>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="name">Название</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" v-model="branch.name" id="name"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="city">Город</label>
                <div class="col-sm-8">
                    <autocomplete
                            ref="autocomplete"
                            url="/getcities"
                            anchor="name"
                            label="time_zone"
                            id="city"
                            :options="[]"
                            :classes="{ input: 'form-control', list: 'data-list', item: 'data-list-item' }"
                            :on-select="getData">
                    </autocomplete>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="address">Адрес</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" v-model="branch.address" id="address"/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label" for="open_hours_from">Время работы с</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" v-model="branch.open_hours_from" id="open_hours_from"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="open_hours_to">Время работы до</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" v-model="branch.open_hours_to" id="open_hours_to"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="email">email</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" v-model="branch.email" id="email"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="phone">Телефон</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" v-model="branch.phone" id="phone"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="description">Описание</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" v-model="branch.description" id="description"/>
                </div>
            </div>

            <button type="button" class="btn btn-primary" @click="saveBranch">Сохранить данные</button>
        </form>
        <div v-if="branch_id!=0">
            <form v-for="image in images">
                <div class="col-xs-6 col-sm-2">
                    <img class="img" :src="image.href" style="max-width:100px;">
                    <button type="button" class="btn btn-danger btn-xs" @click="deleteImage(image)">Удалить</button>
                </div>
            </form>
            <div class="clearfix"></div>
            <form>
                <div class="form-group">
                    <label>Добавить фото</label>
                    <input type="file" @change="onFileChanged" id="logo">
                </div>
                <button class="btn btn-primary btn-xs" type="button" @click="addImage">Добавить</button>
            </form>
        </div>
    </div>
</template>

<script>
    import Autocomplete from 'vue2-autocomplete-js';

    export default {
        components: {
            Autocomplete
        },
        props: ['user_id'],
        data() {
            return {
                result: '',
                cities: [],
                branch: {},
                selectedFile: null,
                images: [],
                branch_id: 0
            }
        },
        mounted() {
            this.branch.user_id = this.user_id;
        },
        // определяйте методы в объекте `methods`
        methods: {
            saveBranch() {
                axios.post('/user/branch/create', this.branch).then(response => {
                    if (response.data.response.result == 1) {
                        this.branch_id = response.data.response.branch_id;
                        this.result = 'Сохранено';
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            getData(obj) {
                this.branch.city_id = obj.id;
            },
            onFileChanged(event) {
                this.selectedFile = event.target.files[0]
            },
            addImage() {
                const formData = new FormData()
                formData.append('image', this.selectedFile, this.selectedFile.name);
                formData.append('branch_id', this.branch_id);
                axios.post('/user/branch/image/add', formData).then(response => {
                    if (response.data.response.result == 1) {
                        this.result = 'Сохранено';
                        this.images.push(response.data.response.image)
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            deleteImage(image) {
                axios.post('/user/branch/image/delete', image).then(response => {
                    if (response.data.response == 1) {
                        this.result = 'Сохранено';
                        this.images.splice(this.images.indexOf(image), 1)
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
        },

    }
</script>
