<template>
    <div>
        <div v-if="result" class="alert alert-info">
            <p class="text-muted">{{this.result}}</p>
        </div>
        <form class="form-horizontal">
            <input type="hidden" name="id" v-model="branch.id"/>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="name">Название</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" v-model="branch.name" id="name"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="city">Город</label>
                <div class="col-sm-8">
                    <autocomplete
                            ref="autocomplete"
                            url="/getcities"
                            anchor="name"
                            label="time_zone"
                            id="city"
                            :options="[]"
                            :classes="{ input: 'form-control', list: 'data-list', item: 'data-list-item' }"
                            :on-select="getData">
                    </autocomplete>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="address">Адрес</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" v-model="branch.address" id="address"/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label" for="open_hours_from">Время работы с</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" v-model="branch.open_hours_from" id="open_hours_from"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="open_hours_to">Время работы до</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" v-model="branch.open_hours_to" id="open_hours_to"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="email">email</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" v-model="branch.email" id="email"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="phone">Телефон</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" v-model="branch.phone" id="phone"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="description">Описание</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" v-model="branch.description" id="description"/>
                </div>
            </div>

            <button type="button" class="btn btn-primary" @click="saveBranch">Сохранить данные</button>
        </form>
        <hr>
        <form v-for="image in images">
            <div class="col-xs-6 col-sm-2">
                <img class="img" :src="image.href" style="max-width:100px;">
                <button type="button" class="btn btn-danger btn-xs" @click="deleteImage(image)">Удалить</button>
            </div>
        </form>
        <div class="clearfix"></div>
        <form>
            <div class="form-group">
                <label>Добавить фото</label>
                <input type="file" @change="onFileChanged" id="logo">
            </div>
            <button class="btn btn-primary btn-xs" type="button" @click="addImage">Добавить</button>
        </form>
        <hr>
        <form v-if="branch.services.length>0">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <td>
                            Service
                        </td>
                        <td>
                            Terms
                        </td>
                        <td>
                            Price
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="service in branch.services">
                        <td>
                            {{service.name}}
                        </td>
                        <td class="form-inline">
                            <input min="0" max="99" class="form-control" v-model="service.pivot.quantity" type="number"/>
                            <select class="form-control" v-model="service.pivot.quantity_type">
                                <option value="1">часов</option>
                                <option value="2">дней</option>
                                <option value="3">месяцев</option>

                            </select>
                        </td>
                        <td>
                            <input class="form-control" v-model="service.pivot.price" type="number"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" @click="saveBranch">Сохранить </button>
            </div>
            <div v-if="result" class="alert alert-info">
                {{result}}
            </div>
        </form>
    </div>
</template>

<script>
    import Autocomplete from 'vue2-autocomplete-js';

    export default {
        components: {
            Autocomplete
        },
        props: ['branch', 'services'],
        data() {
            return {
                result: '',
                cities: [],
                selectedFile: null,
                images: this.branch.images

            }
        },
        mounted() {
            this.$refs.autocomplete.setValue(this.branch.city.name)
        },
        // определяйте методы в объекте `methods`
        methods: {
            saveBranch() {
                axios.post('/user/branch/edit', this.branch).then(response => {
                    if (response.data.response == 1) {
                        this.result = 'Сохранено';
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            getData(obj) {
                this.branch.city_id = obj.id;
                console.log(this.branch);
            },
            onFileChanged(event) {
                this.selectedFile = event.target.files[0]
            },
            addImage() {
                const formData = new FormData()
                formData.append('image', this.selectedFile, this.selectedFile.name);
                formData.append('branch_id', this.branch.id);
                axios.post('/user/branch/image/add', formData).then(response => {
                    if (response.data.response.result == 1) {
                        this.result = 'Сохранено';
                        this.images.push(response.data.response.image)
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            deleteImage(image) {
                axios.post('/user/branch/image/delete', image).then(response => {
                    if (response.data.response == 1) {
                        this.result = 'Сохранено';
                        this.images.splice(this.images.indexOf(image), 1)
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
        },

    }
</script>
