<template>
    <div>
        <!--<div class="form-inline">
            <div class="form-group">
                <a href="/bids/new" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;
                    Добавить
                </a>
            </div>
        </div>-->

        <hr>
        <div class="form-inline">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="поиск" v-model="query" v-on:input="getBids"/>
            </div>
        </div>

        <hr>
        <div class="table-responsive ">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th><a href="#" @click="switchSort('id')">ID</a></th>
                    <th><a href="#" @click="switchSort('created_at')">Дата</a></th>
                    <th><a href="#" @click="switchSort('user.surname')">Пользователь</a></th>
                    <th><a href="#" @click="switchSort('product.name')">Товар</a></th>
                    <th><a href="#" @click="switchSort('services[0].name')">Название</a></th>
                    <th><a href="#" @click="switchSort('description')">Описание</a></th>
                    <th><a href="#" @click="switchSort('terms')">Срок</a></th>
                    <th><a href="#" @click="switchSort('status')">Статус</a></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="bid in sortedBids(bids,sortParam,sortDir)">
                    <td>
                        <a :href="'/bids/getOne/'+bid.id"> {{bid.id}}</a>
                    </td>
                    <td>
                        <a :href="'/bids/getOne/'+bid.id"> {{bid.created_at | moment}}</a>
                    </td>
                    <td>
                        <a :href="'/bids/getOne/'+bid.id">{{bid.user.name}} {{bid.user.surname}}</a>
                    </td>
                    <td>
                        <a :href="'/bids/getOne/'+bid.id">
                            <span v-if="bid.product">{{bid.product.name}}</span><span v-else>-</span>
                        </a>
                    </td>
                    <td>
                        <a :href="'/bids/getOne/'+bid.id">
                            <span v-for="service in bid.services">{{service.name}}</span>
                        </a>
                    </td>
                    <td>
                        <a :href="'/bids/getOne/'+bid.id">{{bid.description}}</a>
                    </td>
                    <td>
                        <a :href="'/bids/getOne/'+bid.id"> {{bid.terms | moment}}</a>
                    </td>
                    <td>
                        <a :href="'/bids/getOne/'+bid.id"> {{humanStatus(bid.status)}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-default btn-block" @click="loadMore">Загрузить больше</button>
    </div>
</template>

<script>
    import moment from 'moment';
    export default {
        data() {
            return {
                bids: [],
                sortParam: 'id',
                sortDir: 'desc',
                query: '',
                page: 1
            }
        },
        created() {
            this.getBids()
        },
        // определяйте методы в объекте `methods`
        methods: {
            getBids() {
                axios.post('/bids/list', {searchQuery: this.query}).then(response => {
                    this.bids = this.bids.concat(Object.values(response.data.data));
                });
            },
            sortedBids(bids, value, direction) {
                return _.orderBy(bids, value, direction);
            },
            switchSort(param) {
                this.sortParam = param;
                if (this.sortDir === 'asc') {
                    this.sortDir = 'desc';
                } else {
                    this.sortDir = 'asc';
                }
            },
            humanStatus(status)
            {
                var map = {
                    0: 'Модерация',
                    1: 'Новая',
                    2: 'В работе',
                    3: 'Выполнена',
                    4: 'Заявка закреплена',
                    5: 'В архиве',
                };
                return map[status];
            }
        },
        filters: {
            moment: function (date) {
                return moment.unix(date).format('L');
            }
        }
    }
</script>

