<template>
    <div>
        <!--<div class="form-inline">
            <div class="form-group">
                <a href="/orders/new" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;
                    Добавить
                </a>
            </div>
        </div>-->

        <hr>
        <div class="form-inline">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="поиск" v-model="query" v-on:input="getOrders"/>
            </div>
        </div>

        <hr>
        <div class="table-responsive ">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th><a href="#" @click="switchSort('id')">ID</a></th>
                    <th><a href="#" @click="switchSort('created_at')">Дата</a></th>
                    <th><a href="#" @click="switchSort('user.surname')">Пользователь</a></th>
                    <th><a href="#" @click="switchSort('products.length')">Товары</a></th>
                    <!--<th><a href="#" @click="switchSort('related_services.length')">Сопутствующие услуги</a></th>-->
                    <th><a href="#" @click="switchSort('delivery.name')">Доставка</a></th>
                    <th><a href="#" @click="switchSort('terms')">Срок</a></th>
                    <th><a href="#" @click="switchSort('status')">Статус</a></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="order in sortedOrders(orders,sortParam,sortDir)">
                    <td>
                        <a :href="'/orders/getOne/'+order.id"> {{order.id}}</a>
                    </td>
                    <td>
                        <a :href="'/orders/getOne/'+order.id"> {{order.created_at | moment}}</a>
                    </td>
                    <td>
                        <span v-if="order.user">
                        <a :href="'/orders/getOne/'+order.id">{{order.user.name}} {{order.user.surname}}</a>
                            </span>
                    </td>
                    <td>
                        <a :href="'/orders/getOne/'+order.id">
                            <div v-if="order.products">
                                <div v-for="product in order.products">
                                    <p><strong>{{product.name}}.</strong> / {{product.pivot.quantity+' шт'}} /
                                        {{product.average_price+' руб/шт'}}</p>
                                    <p>
                                        <small>{{product.description}}</small>
                                    </p>
                                </div>
                            </div>
                            <span v-else>-</span>
                        </a>
                    </td>
                    <!--<td>
                        <a :href="'/orders/getOne/'+order.id">
                            <ol v-if="order.related_services">
                                <li v-for="service in order.related_services">
                                   <ul>
                                       <li>{{service.related_service_id}}</li>
                                   </ul>
                                </li>
                            </ol>
                            <span v-else>-</span>
                        </a>
                    </td>-->
                    <td>
                        <span v-if="order.delivery">
                        <a :href="'/orders/getOne/'+order.id">{{order.delivery.name}}</a>
                            </span>
                    </td>
                    <td>
                        <a :href="'/orders/getOne/'+order.id"> {{order.terms | moment}}</a>
                    </td>
                    <td>
                        <a :href="'/orders/getOne/'+order.id"> {{humanStatus(order.status)}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-default btn-block" @click="loadMore">Загрузить больше</button>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        data() {
            return {
                orders: [],
                sortParam: 'id',
                sortDir: 'desc',
                query: '',
                page: 1
            }
        },
        created() {
            this.getOrders()
        },
        // определяйте методы в объекте `methods`
        methods: {
            getOrders() {
                axios.post('/orders/list', {searchQuery: this.query, page: this.page}).then(response => {
                    this.orders = this.orders.concat(Object.values(response.data.data));
                });
            },
            sortedOrders(orders, value, direction) {
                return _.orderBy(orders, value, direction);
            },
            switchSort(param) {
                this.sortParam = param;
                if (this.sortDir === 'asc') {
                    this.sortDir = 'desc';
                } else {
                    this.sortDir = 'asc';
                }
            },
            humanStatus(status) {
                var map = {
                    0: 'Корзина не оформлена',
                    1: 'Модерация',
                    2: 'Новая',
                    3: 'Ожидает оплаты',
                    4: 'На доставке',
                    5: 'Завершен',
                    6: 'В архиве',
                }
                return map[status];
            },
            loadMore() {
                this.page++;
                this.getOrders();
            },
        },
        filters: {
            moment: function (date) {
                return moment.unix(date).format('L');
            }
        }
    }
</script>

