<template>
    <div>
        <div v-if="result" class="alert alert-info">
            <p class="text-muted">{{this.result}}</p>
        </div>
        <form class="form-horizontal" role="form">
            <h4>О пользователе</h4>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="email" placeholder="Email" disabled
                           v-model="currentUser.email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="name">Имя</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="name" v-model="currentUser.name"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="surname">Фамилия</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="surname" v-model="currentUser.surname"/>
                </div>
            </div>

            <div v-if="currentUser.phone_salt" class="form-group">
                <label class="col-sm-3 control-label" for="phone">Телефон</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="phone" disabled v-model="currentUser.phone_salt.phone"/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label" for="user_type">Тип</label>
                <div class="col-sm-8">
                    <select id="user_type" v-model="currentUser.user_type" class="form-control">
                        <option value="1">Покупатель</option>
                        <option value="2">Партнер</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label" for="orgform">Форма</label>
                <div class="col-sm-8">
                    <select id="orgform" v-model="currentUser.orgform" class="form-control">
                        <option value="1">Физ. лицо</option>
                        <option value="2">Юр. лицо</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="city">Город</label>
                <div class="col-sm-8">
                    <autocomplete
                            ref="autocomplete"
                            url="/getcities"
                            anchor="name"
                            label="time_zone"
                            id="city"
                            :options="[]"
                            :classes="{ input: 'form-control', list: 'data-list', item: 'data-list-item' }"
                            :on-select="getData">
                    </autocomplete>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="role">Роль</label>
                <div class="col-sm-8">
                    <select id="role" v-model="currentUser.role" class="form-control">
                        <option value="user">Пользователь</option>
                        <option value="manager">Менеджер</option>
                        <option value="admin">Администратор</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="rating">Баллы</label>
                <div class="col-sm-8">
                    <input class="form-control" type="number" id="rating" v-model="currentUser.rating"/>
                </div>
            </div>
            <button type="button" class="btn btn-primary" @click="saveUser">Сохранить пользователя</button>
            <hr>
            <div v-if="currentUser.orgform==2">
                <div v-if="currentUser.user_opt">
                    <h4>О компании</h4>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="short_name">Сокращенное название</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="short_name"
                                   v-model="currentUser.user_opt.short_name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="full_name">Полное название</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="full_name"
                                   v-model="currentUser.user_opt.full_name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="inn">ИНН</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="inn" v-model="currentUser.user_opt.inn"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="description">Описание</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="description"
                                   v-model="currentUser.user_opt.description"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="address">Адрес</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="address"
                                   v-model="currentUser.user_opt.address"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="open_hours_from">Время работы с</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" v-model="currentUser.user_opt.open_hours_from"
                                   id="open_hours_from"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="open_hours_to">Время работы до</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" v-model="currentUser.user_opt.open_hours_to"
                                   id="open_hours_to"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="site">URL</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="site" v-model="currentUser.user_opt.site"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="logo">Логотип</label>
                        <div class="col-sm-8">
                            <input type="file" @change="onFileChanged" id="logo">
                            <hr>
                            <img class="img" style="max-width: 100px;" :src="currentUser.user_opt.logo?currentUser.user_opt.logo.href:''"/>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" @click="saveUserOpt">Сохранить данные</button>
                </div>
                <div v-else>
                    <h4>О компании</h4>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="short_name">Сокращенное название</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="short_name" v-model="newUserOpt.short_name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="full_name">Полное название</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="full_name" v-model="newUserOpt.full_name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="inn">ИНН</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="inn" v-model="newUserOpt.inn"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="description">Описание</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="description" v-model="newUserOpt.description"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="address">Адрес</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="address" v-model="newUserOpt.address"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="open_hours_from">Время работы с</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" v-model="newUserOpt.open_hours_from"
                                   id="open_hours_from"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="open_hours_to">Время работы до</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" v-model="newUserOpt.open_hours_to"
                                   id="open_hours_to"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="site">URL</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="site" v-model="newUserOpt.site"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="logo">Логотип</label>
                        <div class="col-sm-8">
                            <input type="file" @change="onFileChanged" id="logo">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" @click="createUserOpt">Сохранить данные</button>
                </div>
            </div>
        </form>
        <hr>
        <h4>Филиалы</h4>
        <div class="form-group">
            <a :href="'/user/get/'+ user.id +'/branch/new'" class="btn btn-primary btn-xs"><span
                    class="glyphicon glyphicon-plus"></span> &nbsp; Добавить</a>
        </div>
        <div v-if="branches.length>0">
            <div class="table-responsive ">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Город</th>
                        <th>Адрес</th>
                        <th>График</th>
                        <th>Email</th>
                        <th>Телефон</th>
                        <th>Описание</th>
                        <th>Кол-во фотографий</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(branch,index) in branches">
                        <td>{{branch.id}}</td>
                        <td>{{branch.name}}</td>
                        <td>{{branch.city.name}}</td>
                        <td>{{branch.address}}</td>
                        <td>{{branch.open_hours_from}} - {{branch.open_hours_to}}</td>
                        <td>{{branch.email}}</td>
                        <td>{{branch.phone}}</td>
                        <td>{{branch.description}}</td>
                        <td>{{branch.images.length}}</td>
                        <td>
                            <a :href="'/user/get/branch/'+branch.id+'/edit'"
                               class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                            <button class="btn btn-danger btn-xs" @click="deleteBranch(branch.id,index)"><span
                                    class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <h4>Услуги</h4>
        <ul class="list-group">
            <li class="list-group-item" v-for="service in user.services" v-if="user.services.length>0">
                <span class="label label-default pull-right" v-if="service.verification">Верификация не требуется</span>
                <button class="btn btn-outline-danger pull-right btn-xs" v-else @click="verifyService(service)">{{service.pivot.verified?"Отменить верификацию":"Верифицировать"}}</button>
                {{service.name}}
            </li>
            <li v-else>Пользователь не оказывает услуг</li>
        </ul>
        <hr>
        <h4>Награды</h4>
        <div v-if="user.rewards">
            <div class="media" v-for="reward in user.rewards">
                <a class="pull-left" :href="reward.image">
                    <img class="media-object" :src="reward.image" alt="..." style="max-width:100px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Баллы: {{reward.price}}</h4>
                    {{reward.text}}
                </div>
            </div>
        </div>
        <p v-else>У пользователя еще нет наград</p>
        <hr>
        <div class="form-group" v-if="rewards.length>0">
            <label class="col-sm-3 control-label" for="rewards">Назначить награды</label>
            <div class="col-sm-8">
                <select id="rewards" v-model="currentUser.force_rewards" class="form-control" multiple>
                    <option value="0">Убрать принудительные награды</option>
                    <option v-for="reward in rewards" :value="reward.id">{{reward.text}}</option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary" @click="forceRewards">Назначить</button>
    </div>
</template>

<script>
    import Autocomplete from 'vue2-autocomplete-js';

    export default {
        props: ['user', 'rewards'],
        components: {
            Autocomplete
        },
        data() {
            return {
                currentUser: this.user,
                result: '',
                branches: this.user.branches_with_city,
                newUserOpt: {},
                selectedFile: null
            }
        },
        mounted() {
            this.$refs.autocomplete.setValue(this.currentUser.city ? this.currentUser.city.name : null)
        },
        // определяйте методы в объекте `methods`
        methods: {
            saveUser() {
                axios.post('/user/save', this.currentUser).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                        this.result = 'Сохранено';
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            createUserOpt() {
                this.saveUser();
                this.newUserOpt.user_id = this.user.id;
                const formData = new FormData()
                formData.append('logo', this.selectedFile, this.selectedFile.name);
                for (var key in this.newUserOpt) {
                    formData.append(key, this.newUserOpt[key]);
                    /* ... делать что-то с obj[key] ... */
                }
                axios.post('/user/opt/create', this.newUserOpt).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                        this.result = 'Сохранено';
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }

                });
            },
            deleteBranch(branch_id, index) {
                axios.post('/user/branch/' + branch_id + '/delete', {'id': branch_id}).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                        // удаляем из массива
                        this.branches.splice(index, 1)
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            saveUserOpt() {

                const formData = new FormData()
                formData.append('logo', this.selectedFile, this.selectedFile.name);
                for (var key in this.currentUser.user_opt) {
                    formData.append(key, this.currentUser.user_opt[key]);
                    /* ... делать что-то с obj[key] ... */
                }
                axios.post('/user/opt/edit', formData).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                        this.result = 'Сохранено';
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                    this.saveUser()
                });
            },
            getData(obj) {
                this.currentUser.city_id = obj.id;
                console.log(this.currentUser);
            },
            onFileChanged(event) {
                this.selectedFile = event.target.files[0]
            },
            verifyService(service) {
                axios.post('/user/service/verify', {service: service, user: this.user}).then(response => {
                    if (response.data.response == 1) {
                        this.result = 'Сохранено';
                        this.user.services[this.user.services.indexOf(service)].pivot.verified = 1;
                    } else {
                        this.result = 'Сохранено';
                        this.user.services[this.user.services.indexOf(service)].pivot.verified = 0;
                    }
                });
            },
            forceRewards()
            {
                axios.post('/user/rewards/force', this.user).then(response => {
                    if (response.data.response == 1) {
                        this.result = 'Сохранено';
                        this.user.services[this.user.services.indexOf(service)].pivot.verified = 1;
                    } else {
                        this.result = 'Сохранено';
                        this.user.services[this.user.services.indexOf(service)].pivot.verified = 0;
                    }
                });
            }
        },
    }
</script>
