<template>
    <div>
        <h3 v-if="role=='ex'" class="mt-5 mb-3">Внешние пользователи</h3>
        <h3 v-else class="mt-5 mb-3">Внутренние пользователи</h3>
        <div class="form-inline">
            <div class="form-group">
                <a href="/user/new" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-plus"></span>
                    &nbsp;
                    Добавить
                </a>
            </div>
            <div class="form-group">
                <button v-if="role=='ex'" class="btn btn-primary btn-xs" @click="switchRole">Внутренние
                    пользователи
                </button>
                <button v-else class="btn btn-primary btn-xs" @click="switchRole">Внешние пользователи</button>
            </div>
        </div>

        <hr>
        <div class="form-inline">
            <div class="form-group">
                <input type="text" placeholder="поиск" v-model="query" v-on:input="getUsers"/>
            </div>
            <div class="form-group">
                <input type="radio" id="type-buyer" v-model="type" value="buyers" @change="getUsers">
                <label for="type-buyer" class="label label-warning">Покупатель</label>
                <input type="radio" id="type-partner" v-model="type" value="partners" @change="getUsers">
                <label for="type-partner" class="label label-info">Партнер</label>
                <input type="radio" id="type-all" v-model="type" value="all" @change="getUsers">
                <label for="type-all" class="label label-default">Все</label>
            </div>
        </div>

        <hr>
        <div class="table-responsive ">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th><a href="#" @click="switchSort('id')">ID</a></th>
                    <th><a href="#" @click="switchSort('name')">Имя</a></th>
                    <th><a href="#" @click="switchSort('email')">E-mail</a></th>
                    <th><a href="#" @click="switchSort('phone_salt.phone')">Телефон</a></th>
                    <th><a href="#" @click="switchSort('city.name')">Город</a></th>
                    <th><a href="#" @click="switchSort('rating')">Баллы</a></th>
                    <th v-if="role=='ex'"><a href="#" @click="switchSort('branches.length')">Кол-во филиалов</a></th>
                    <th v-if="role=='ex'"><a href="#" @click="switchSort('user_type')">Тип пользователя</a></th>
                    <th v-if="role=='ex'"><a href="#" @click="switchSort('orgform')">Вид пользователя</a></th>
                    <th v-if="role=='ex'"><a href="#" @click="switchSort('created_at')">Дата регистрация</a></th>
                    <th v-if="role=='ex'"><a href="#" @click="switchSort('phone.salt.app_type')">Платформа</a></th>
                    <th v-if="role!='ex'"><a href="#" @click="switchSort('role')">Роль</a></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user in sortedUsers(users,sortParam,sortDir)">
                    <td>
                        <a :href="'/user/get/'+user.id"> {{user.id}}</a>
                    </td>
                    <td>
                        <a :href="'/user/get/'+user.id">{{user.name}} {{user.surname}}</a>
                    </td>
                    <td>
                        <a :href="'/user/get/'+user.id"> {{user.email}}</a>
                    </td>
                    <td>
                        <a :href="'/user/get/'+user.id"> <span v-if="user.phone_salt">{{user.phone_salt.phone}}</span>
                        </a>
                    </td>
                    <td>
                        <a :href="'/user/get/'+user.id"> <span v-if="user.city">{{user.city.name}}</span></a>
                    </td>
                    <td>
                        <a :href="'/user/get/'+user.id"> {{user.rating}}</a>
                    </td>
                    <td v-if="role=='ex'">
                        <a :href="'/user/get/'+user.id"> {{user&&user.branches?user.branches.length:''}}</a>
                    </td>
                    <td v-if="role=='ex'">
                        <a :href="'/user/get/'+user.id">
                            <span v-if="user.user_type===1">Покупатель</span> <span v-else>Партнер</span>
                        </a>
                    </td>
                    <td v-if="role=='ex'">
                        <a :href="'/user/get/'+user.id">
                            <span v-if="user.orgform===2">Юр.лицо</span><span v-else>Физ. лицо</span>
                        </a>
                    </td>
                    <td v-if="role=='ex'">
                        <a :href="'/user/get/'+user.id"> {{ (user.created_at) }}</a>
                    </td>
                    <td v-if="role=='ex'">
                        <a :href="'/user/get/'+user.id">
                            <span v-if="user.phone_salt">
                                <span v-if="user.phone_salt.app_type==1">iOS</span>
                                <span v-else>Android</span>
                            </span>
                        </a>
                    </td>
                    <td v-if="role!='ex'">
                        <a :href="'/user/get/'+user.id"> {{user.role}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-default btn-block" @click="loadMore">Загрузить больше</button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                users: [],
                role: 'ex',
                sortParam: 'id',
                sortDir: 'desc',
                query: '',
                type: false,
                page: 1
            }
        },
        created() {
            this.getUsers()
        },
        mounted() {

        },
        // определяйте методы в объекте `methods`
        methods: {
            getUsers() {
                axios.post('/user/list', {
                    role: this.role,
                    searchQuery: this.query,
                    type: this.type,
                    page: this.page
                }).then(response => {
                    this.users = this.users.concat(Object.values(response.data.data));
                });
            },
            switchRole() {
                if (this.role === 'ex') {
                    this.role = 'in'
                } else {
                    this.role = 'ex'
                }

                this.getUsers(this.role)
            },
            sortedUsers(users, value, direction) {
                return _.orderBy(users, value, direction);
            },
            switchSort(param) {
                this.sortParam = param;
                if (this.sortDir === 'asc') {
                    this.sortDir = 'desc';
                } else {
                    this.sortDir = 'asc';
                }
            },
            loadMore() {
                this.page++;
                this.getUsers();
            },
        },
    }
</script>

