<template>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <router-link to="/categories" class="btn btn-primary" >Категории</router-link>
                </div>
                <div class="btn-group">
                    <router-link to="/characters" class="btn btn-primary" >Характеристики</router-link>
                </div>
                <div class="btn-group">
                    <router-link to="/related_services" class="btn btn-primary" >Сопутствующие услуги</router-link>
                </div>
                <div class="btn-group">
                    <router-link to="/products" class="btn btn-primary" >Товары</router-link>
                </div>
                <div class="btn-group">
                    <router-link to="/services" class="btn btn-primary" >Услуги</router-link>
                </div>
                <div class="btn-group">
                    <router-link to="/delivery" class="btn btn-primary" >Доставка</router-link>
                </div>
                <div class="btn-group">
                    <router-link to="/payment" class="btn btn-primary" >Оплата</router-link>
                </div>
                <div class="btn-group">
                    <router-link to="/rewards" class="btn btn-primary" >Награды</router-link>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                'show': 'categories'
            }
        },
    }
</script>

<style scoped>

</style>