<template>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button class="btn btn-primary" @click="show='bids'">Заявки</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary" @click="show='orders'">Заказы</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary" @click="show='reviews'">Отзывы</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary" @click="show='images'">Изображения</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary" @click="show='tenders'">Тендеры</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <moderate-bids v-if="show==='bids'">
            </moderate-bids>
            <moderate-orders v-if="show==='orders'">
            </moderate-orders>
            <moderate-reviews v-if="show==='reviews'">
            </moderate-reviews>
            <moderate-images v-if="show==='images'">
            </moderate-images>
            <moderate-tenders v-if="show==='tenders'">
            </moderate-tenders>
        </div>
    </div>
</template>

<script>
    import ModerateReviews from "./moderate/ModerateReviews";

    export default {
        components: {ModerateReviews},
        data() {
            return {
                'show': 'bids'
            }
        },
    }
</script>

<style scoped>

</style>