<template>
    <div class="container">
        <h3 class="text-center mt-5 mb-3">Новый пользователь</h3>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 offset-md-2 offset-lg-3 offset-xl-3">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <template v-for="field, name in fields">
                                <div v-if="_.includes(['text', 'email', 'password'], field.type)" class="form-group row">
                                    <label class="col-4 col-form-label">{{ field.label }}</label>
                                    <div class="col-8">
                                        <input v-model="values[name]" :type="field.type" :placeholder="field.placeholder" class="form-control" />
                                    </div>
                                </div>
                                <div v-else-if="name == 'role'" class="form-group row">
                                    <label class="col-4 col-form-label">Роль</label>
                                    <div class="col-8">
                                        <select class="form-control" v-model="values[name]">
                                            <optgroup label="Выберите роль">
                                                <option value="admin">Администратор</option>
                                                <option value="manager">Менеджер</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <div v-else-if="name == 'city'" class="form-group row">
                                    <label class="col-4 col-form-label">Город</label>
                                    <div class="col-8">
                                        <input v-model="values[name]" :type="field.type" :placeholder="field.placeholder" class="form-control" />
                                        <div class="dropdown-menu show" role="menu">
                                            <a class="dropdown-item" role="presentation" v-for="city in filterCities" @click="selected_city_id = city.id">
                                                {{ city.name }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </template>
                            <div class="form-group mt-4 mb-0">
                                <button @click="submit" class="btn btn-primary btn-block" type="button">Добавить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
          cityValue() {
              return this.values.city || ''
          }  
        },
        watch: {
          cityValue(newV, oldV) {
              if (newV != oldV) {
                  let small = newV.trim().toLowerCase();
                  this.filterCities = this.cities.filter((city) => {
                      return city.name.trim().toLowerCase().indexOf(small) == 0
                  })
              }
          }  
        },
        props: ['_'],
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
          submit() {
              console.log(this.values)
          }  
        },
        created() {
            _.mapValues(this.fields, (field, name) => {
                Vue.set(this.values, name, '')
            })
            console.log(this.values)
            $.post('/getcities', (r) => this.cities = r)
        },
        data() {
            return {
                selected_city_id: 0,
                cities: [],
                filterCities: [],
                values: {},
                fields: {
                    surname: {
                        type: 'text', 
                        label: 'Фамилия', 
                        placeholder: 'Иванов'
                    },
                    name: {
                        type: 'text', 
                        label: 'Имя', 
                        placeholder: 'Иван'
                    },
                    patronymic: {
                        type: 'text', 
                        label: 'Отчество', 
                        placeholder: 'Иванович'
                    },
                    city: {
                        type: 'select', 
                        label: 'Город', 
                        placeholder: 'Москва'
                    },
                    phone: {
                        type: 'text', 
                        label: 'Телефон', 
                        placeholder: '79*********'
                    },
                    email: {
                        type: 'email', 
                        label: 'Email', 
                        placeholder: 'email@site.com'
                    },
                    role: {
                        type: 'select', 
                        label: 'Роль', 
                        placeholder: '',
                    },
                    login: {
                        type: 'text', 
                        label: 'Логин', 
                        placeholder: 'login'
                    },
                    password: {
                        type: 'password', 
                        label: 'Пароль', 
                        placeholder: '**********'
                    }
                }
            }
        }
    }
</script>
