<template>
    <div>
        <div class="form-group">
            <label for="user">Пользователь</label>
                <autocomplete
                        ref="autocomplete"
                        url="/getusers"
                        anchor="surname"
                        label="email"
                        id="user"
                        :options="[]"
                        :classes="{ input: 'form-control', list: 'data-list', item: 'data-list-item' }"
                        :on-select="getUser">
                </autocomplete>
                <input type="hidden" name="user_id" :value="user_id"/>
        </div>
        <div class="form-group">
            <label for="city">Город</label>
                <autocomplete
                        ref="autocomplete"
                        url="/getcities"
                        anchor="name"
                        label="time_zone"
                        id="city"
                        :options="[]"
                        :classes="{ input: 'form-control', list: 'data-list', item: 'data-list-item' }"
                        :on-select="getCity">
                </autocomplete>
                <input type="hidden" name="city_id" :value="city_id"/>
            </div>
    </div>
</template>

<script>
    import Autocomplete from 'vue2-autocomplete-js'

    export default {
        name: "search-user",
        components: {
            Autocomplete
        },
        data() {
            return {
                user_id: 0,
                city_id: 0
            }
        },
        methods: {
            getUser(Obj) {
                this.user_id = Obj.id;
            },
            getCity(Obj) {
                this.city_id = Obj.id;
            }
        }
    }
</script>

<style scoped>

</style>