<template>
    <div>
        <h4>Изображения</h4>
        <div v-if="result" class="alert alert-info">
            <p class="text-muted">{{this.result}}</p>
        </div>
        <div class="table-responsive ">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Пользователь</td>
                    <td>Филиал</td>
                    <td></td>
                    <td>Дата</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(image,index) in images">
                    <td>{{image.id}}</td>
                    <td>
                        <span v-if="image.user">
                            {{image.user.name}} {{image.user.surname}}
                        </span>
                        <span v-else><i>Удалён</i></span>
                    </td>
                    <td>
                        <span v-for="branch in image.branches">
                            {{branch.name}}
                        </span>
                    </td>
                    <td>
                        <img :src="image.href" style="max-width: 100px" alt="Изображение не найдено">
                    </td>
                    <td>
                        {{image.created_at | moment}}
                    </td>
                    <td>
                        <button class="btn btn-success btn-xs" @click="acceptImage(image,index)">Принять</button>
                        <button class="btn btn-danger btn-xs" @click="rejectImage(image,index)">Отклонить</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "moderate-images",
        data() {
            return {
                images: [],
                query: '',
                result: ''
            }
        },
        created() {
            this.getImages()
        },
        methods: {
            getImages() {
                axios.post('/moderation/images', {searchQuery: this.query}).then(response => {
                    this.images = (response.data);
                });
            },
            acceptImage(image, index) {
                axios.post('/moderation/image/accept', {'image_id': image.id}).then(response => {
                    if (response.data.response == 1) {
                        this.result = 'Изображение одобрено';
                        this.images.splice(index, 1)
                    }
                });
            },
            rejectImage(image, index) {
                axios.post('/moderation/image/reject', {'image_id': image.id}).then(response => {
                    if (response.data.response == 1) {
                        this.result = 'Изображение отклонено';
                        this.images.splice(index, 1)
                    }
                });
            },
        },
        filters: {
            moment: function (date) {
                return moment(date).format('L');
            }
        }
    }
</script>

<style scoped>

</style>