<template>
    <div>
        <h4>Заявки</h4>
        <div v-if="result" class="alert alert-info">
            <p class="text-muted">{{this.result}}</p>
        </div>
        <div class="table-responsive ">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Пользователь</td>
                    <td>Товар</td>
                    <td>Название</td>
                    <td>Описание</td>
                    <td>Срок</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(bid,index) in bids">
                    <td>{{bid.id}}</td>
                    <td><span v-if="bid.user">{{bid.user.name}} {{bid.user.surname}} <br> ({{bid.user.city?bid.user.city.name:''}})</span></td>
                    <td><span v-if="bid.product">{{bid.product.name}}</span><span v-else>-</span></td>
                    <td>
                        <span v-for="service in bid.services">{{service.name}}</span>
                    </td>
                    <td>{{bid.description}}</td>
                    <td>{{bid.terms | moment }}</td>
                    <td>
                        <button class="btn btn-success btn-xs" @click="acceptBid(bid,index)">Принять</button>
                        <button class="btn btn-danger btn-xs" @click="rejectBid(bid,index)">Отклонить</button>
                        <a class="btn btn-default btn-xs" :href="'/moderation/bid/offer/'+bid.id">Сделать предложение</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "moderate-bids",
        data() {
            return {
                bids: [],
                query: '',
                result: ''
            }
        },
        created() {
            this.getBids()
        },
        methods: {
            getBids() {
                axios.post('/moderation/bids', {searchQuery: this.query}).then(response => {
                    this.bids = (response.data);
                });
            },
            acceptBid(bid,index) {
                axios.post('/moderation/bid/accept', {'bid_id': bid.id}).then(response => {
                    if (response.data.response == 1) {
                        this.result = 'Заявка одобрена';
                        this.bids.splice(index, 1)
                    }
                });
            },
            rejectBid(bid,index) {
                axios.post('/moderation/bid/reject', {'bid_id': bid.id}).then(response => {
                    if (response.data.response == 1) {
                        this.result = 'Заявка отклонена';
                        this.bids.splice(index, 1)
                    }
                });
            },
        },
        filters: {
            moment: function (date) {
                return moment.unix(date).format('L');
            }
        }
    }
</script>

<style scoped>

</style>