<template>
    <div>
        <h4>Заказы</h4>
        <div v-if="result" class="alert alert-info">
            <p class="text-muted">{{this.result}}</p>
        </div>
        <div class="table-responsive ">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Пользователь</td>
                    <td>Товар</td>
                <!--    <td>Сопутствующие услуги</td> -->
                    <td>Доставка</td>
                    <td>Срок</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(order,index) in orders">
                    <td>{{order.id}}</td>
                    <td>{{order.user.name}} {{order.user.surname}} <br>({{order.user.city?order.user.city.name:''}})</td>
                    <td>
                        <ul v-if="order.products">
                            <li v-for="product in order.products">
                                <ul>
                                    <li>Название: {{product.name}}</li>
                                    <li>Ср. цена: {{product.average_price}}</li>
                                    <li>Описание: {{product.description}}</li>
                                    <li>Кол-во: {{product.pivot.quantity}}</li>
                                </ul>
                            </li>
                        </ul>
                        <span v-else>-</span>
                    </td>
                   <!-- <td>
                        <ul v-if="order.related_services">
                            <li v-for="service in order.related_services">
                                {{service}}
                            </li>
                        </ul>
                        <span v-else>-</span>
                    </td> -->
                    <td>{{order.delivery.name}}</td>
                    <td>{{order.terms | moment}}</td>
                    <td>
                        <button class="btn btn-success btn-xs" @click="acceptOrder(order,index)">Принять</button>
                        <button class="btn btn-danger btn-xs" @click="rejectOrder(order,index)">Отклонить</button>
                        <a class="btn btn-default btn-xs" :href="'/moderation/order/offer/'+order.id">Сделать
                            предложение</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "moderate-orders",
        data() {
            return {
                orders: [],
                query: '',
                result: ''
            }
        },
        created() {
            this.getOrders()
        },
        methods: {
            getOrders() {
                axios.post('/moderation/orders', {searchQuery: this.query}).then(response => {
                    this.orders = (response.data);
                });
            },
            acceptOrder(order, index) {
                axios.post('/moderation/order/accept', {'order_id': order.id}).then(response => {
                    if (response.data.response == 1) {
                        this.result = 'Заказ одобрен';
                        this.orders.splice(index, 1)
                    }
                });
            },
            rejectOrder(order, index) {
                axios.post('/moderation/order/reject', {'order_id': order.id}).then(response => {
                    if (response.data.response == 1) {
                        this.result = 'Заказ отклонен';
                        this.orders.splice(index, 1)
                    }
                });
            },
        },
        filters: {
            moment: function (date) {
                return moment.unix(date).format('L');
            }
        }
    }
</script>

<style scoped>

</style>