<template>
    <div>
        <h4>Тендеры</h4>
        <div v-if="result" class="alert alert-info">
            <p class="text-muted">{{this.result}}</p>
        </div>
        <div class="table-responsive ">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Пользователь</td>
                    <td>Товар</td>
                    <td>Название</td>
                    <td>Описание</td>
                    <td>Срок</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(tender,index) in tenders">
                    <td>{{tender.id}}</td>
                    <td><span v-if="tender.user">{{tender.user.name}} {{tender.user.surname}} <br> ({{tender.user.city?tender.user.city.name:''}})</span></td>
                    <td><span v-if="tender.product">{{tender.product.name}}</span><span v-else>-</span></td>
                    <td>
                        <span v-for="product in tender.products">{{product.name}}</span>
                    </td>
                    <td>{{tender.description}}</td>
                    <td>{{tender.terms | moment }}</td>
                    <td>
                        <button class="btn btn-success btn-xs" @click="accept(tender,index)">Принять</button>
                        <button class="btn btn-danger btn-xs" @click="reject(tender,index)">Отклонить</button>
                        <!--<a class="btn btn-default btn-xs" :href="'/moderation/bid/offer/'+bid.id">Сделать предложение</a>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "moderate-tenders",
        data() {
            return {
                tenders: [],
                query: '',
                result: ''
            }
        },
        created() {
            this.getTenders()
        },
        methods: {
            getTenders() {
                axios.post('/moderation/tenders', {searchQuery: this.query}).then(response => {
                    this.tenders = (response.data);
                });
            },
            accept(tender,index) {
                axios.post('/moderation/tender/accept', {'tender_id': tender.id}).then(response => {
                    if (response.data.response == 1) {
                        this.result = 'Тендер одобрен';
                        this.tenders.splice(index, 1)
                    }
                });
            },
            reject(tender,index) {
                axios.post('/moderation/tender/reject', {'tender_id': tender.id}).then(response => {
                    if (response.data.response == 1) {
                        this.result = 'Тендер отклонен';
                        this.tenders.splice(index, 1)
                    }
                });
            },
        },
        filters: {
            moment: function (date) {
                return moment.unix(date).format('L');
            }
        }
    }
</script>

<style scoped>

</style>