<template>
    <div>
        <h4>Методы доставки</h4>
        <div v-if="result" class="alert alert-info">
            <p class="text-muted">{{this.result}}</p>
        </div>
        <button class="btn btn-primary btn-xs" @click="showCreate = !showCreate">+ Добавить</button>
        <div v-if="showCreate" class="form-group">
            <hr>
            <div class="input-group">
                <span class="input-group-addon">
                          <input type="checkbox" v-model="newAddress">
                </span>
                <input placeholder="Введите название" class="form-control" type="text" v-model="newDeliveryName"
                       id="cat-create"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" @click="createDelivery">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </span>
            </div>
        </div>
        <hr>
        <draggable v-model="deliveries" @start="drag=true" @end="drag=false" @update="moved">
            <div class="well well-sm" v-for="(delivery,index) in deliveries" :key="delivery.order">
                <div class="input-group">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" @click="editDelivery(delivery)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                </span>
                    <span class="input-group-addon">
                          <input type="checkbox" v-model="delivery.required_address">
                </span>
                    <input placeholder="Введите название" class="form-control" type="text" v-model="delivery.name"
                           id="cat-edit"/>
                    <span class="input-group-btn">

                        <button class="btn btn-danger" @click="deleteDelivery(delivery.id,index)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                </span>
                </div>
            </div>
        </draggable>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'
    export default {
        components: {
            draggable,
        },
        /* name: "lists"*/
        data() {
            return {
                deliveries: [],
                query: '',
                showCreate: false,
                result: '',
                newDeliveryName: '',
                newAddress:true, // Обязательный адрес
            }
        },
        created() {
            this.getDeliveries()
        },
        methods: {
            getDeliveries() {
                axios.post('/lists/deliveries', {searchQuery: this.query}).then(response => {
                    this.deliveries = (response.data);
                });
            },
            deleteDelivery(id, index) {
                axios.post('/lists/delivery/delete', {'id': id}).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                        // удаляем из массива
                        this.deliveries.splice(index, 1)
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            editDelivery(delivery) {
                axios.post('/lists/delivery/edit', delivery).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            createDelivery() {
                axios.post('/lists/delivery/create', {name: this.newDeliveryName,address:this.newAddress}).then(response => {
                    if (response.data.response.code == 1) {
                        console.log('ОК');
                        // Добавляем из массива
                        this.deliveries.push(response.data.response.delivery)
                        this.newDeliveryName = ''
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            moved(newIndex, oldIndex, e) {
                // return false; — for cancel
                for(var i = 0;i<this.deliveries.length;i++)
                {
                    this.deliveries[i].order = i;
                }
                axios.post('/lists/deliveries/order', {'deliveries':  this.deliveries}).then(response => {
                    if (response.data.response.code == 1) {
                        console.log('ОК');
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>