<template>
    <div>
        <h4>Категории</h4>
        <div v-if="result" class="alert alert-info">
            <p class="text-muted">{{this.result}}</p>
        </div>
        <button class="btn btn-primary btn-xs" @click="showCreate = !showCreate">+ Добавить</button>
        <div v-if="showCreate" class="form-group">
            <hr>
            <div class="input-group">
                <input placeholder="Введите название" class="form-control" type="text" v-model="newCategoryName"
                       id="cat-create"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" @click="createCategory">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </span>
            </div>
        </div>
        <hr>
        <draggable v-model="categories" @start="drag=true" @end="drag=false" @update="moved">
            <div class="well well-sm" v-for="(category,index) in categories" :key="category.order">
                <div class="input-group">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" @click="editCategory(category.id,category.name)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                </span>
                    <input placeholder="Введите название" class="form-control" type="text" v-model="category.name"
                           id="cat-edit"/>
                    <span class="input-group-btn">

                        <button class="btn btn-danger" @click="deleteCategory(category.id,index)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                </span>
                </div>
            </div>
        </draggable>

    </div>
</template>

<script>
    import draggable from 'vuedraggable'

    export default {
        /* name: "lists"*/
        components: {
            draggable,
        },
        data() {
            return {
                categories: [],
                query: '',
                showCreate: false,
                newCategoryName: '',
                result: ''
            }
        },
        created() {
            this.getCategories()
        },
        methods: {
            getCategories() {
                axios.post('/lists/categories', {searchQuery: this.query}).then(response => {
                    this.categories = (response.data);
                });
            },
            deleteCategory(category_id, index) {
                axios.post('/lists/category/delete', {'id': category_id}).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                        // удаляем из массива
                        this.categories.splice(index, 1)
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            editCategory(category_id, name) {
                axios.post('/lists/category/edit', {'id': category_id, 'name': name}).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            createCategory() {
                axios.post('/lists/category/create', {'name': this.newCategoryName}).then(response => {
                    if (response.data.response.code == 1) {
                        console.log('ОК');
                        // Добавляем из массива
                        this.categories.push(response.data.response.category)
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            moved(newIndex, oldIndex, e) {
                // return false; — for cancel
                for(var i = 0;i<this.categories.length;i++)
                {
                    this.categories[i].order = i;
                }
                axios.post('/lists/categories/order', {'categories':  this.categories}).then(response => {
                    if (response.data.response.code == 1) {
                        console.log('ОК');
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>