<template>
    <div>
        <h4>Награды</h4>
        <div v-if="result" class="alert alert-info">
            <p class="text-muted">{{this.result}}</p>
        </div>
        <a class="btn btn-primary btn-xs" href="/lists/reward/create">+ Добавить</a>

        <hr>
        <div class="table-responsive ">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Баллы</th>
                    <th>Описание</th>
                    <th>Изображение</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(reward,index) in rewards" :key="reward.order">
                    <td>
                        <a :href="'/lists/reward/edit/'+reward.id">
                            {{reward.id}}
                        </a>
                    </td>
                    <td>
                        <a :href="'/lists/reward/edit/'+reward.id">
                            {{reward.price}}
                        </a>
                    </td>
                    <td>
                        <a :href="'/lists/reward/edit/'+reward.id">
                            {{reward.text}}
                        </a>
                    </td>
                    <td>
                        <img style="max-width:100px" :src="reward.image">
                    </td>
                    <td>
                        <button class="btn btn-danger btn-xs pull-right" @click="deleteReward(reward.id,index)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'

    export default {
        components: {
            draggable,
        },
        /* name: "lists"*/
        data() {
            return {
                rewards: [],
                query: '',
                showCreate: false,
                result: '',
            }
        },
        created() {
            this.getRewards()
        },
        methods: {
            getRewards() {
                axios.post('/lists/rewards', {searchQuery: this.query}).then(response => {
                    this.rewards = (response.data);
                });
            },
            deleteReward(id, index) {
                axios.post('/lists/reward/delete', {'reward_id': id}).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                        // удаляем из массива
                        this.rewards.splice(index, 1)
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            editReward(reward) {
                axios.post('/lists/rewards/edit', reward).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
        }
    }
</script>

<style scoped>

</style>