<template>
    <div>
        <h4>Сопутствующее</h4>

        <div class="form-group">
            <button @click="showNew = !showNew" class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;
                Добавить
            </button>
        </div>
        <div v-if="result" class="alert alert-info">
            <p class="text-muted">{{this.result}}</p>
        </div>
        <div v-if="showNew">
            <div class="form-group">
                <label class="control-label" for="name">Название</label>
                <input class="form-control" id="name" v-model="newService.name"
                       placeholder="Введите название сопутствующей услуги" required/>
            </div>
            <div class="form-group">
                <label class="control-label" for="description">Описание</label>
                <input class="form-control" id="description" v-model="newService.description"
                       placeholder="Введите описание сопутствующей услуги" required/>
            </div>
            <div class="form-group">
                <label class="control-label" for="type">Тип</label>
                <select class="form-control" id="type" v-model="newService.type" required>
                    <option value="product">Товар</option>
                    <option value="service">Услуга</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="price">Средняя цена</label>
                <input class="form-control" id="price"
                       v-model="newService.average_price"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="notes">Примечания</label>
                <input class="form-control" id="notes"
                       v-model="newService.notes"/>
            </div>
            <div class="form-group">
                <label class="control-label">Вариации</label>
                <button class="btn btn-primary" data-toggle="modal" data-target="#variants">Редактировать</button>
            </div>
            <div class="form-group">
                <label>Добавить фото</label>
                <input type="file" @change="onFileChanged" id="logo">
            </div>
        </div>
        <button class="btn btn-primary btn-xs" @click="creteRelatedService">Сохранить</button>
        <hr>

        <div class="table-responsive ">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Средняя цена</th>
                    <th>Тип</th>
                    <th>Примечания</th>
                    <th>Изображение</th>
                    <th></th>
                </tr>
                </thead>
                <draggable v-model="services" @start="drag=true" @end="drag=false" @update="moved" element="tbody">
                    <tr v-for="(service,index) in services" :key="service.order">
                        <td>
                            {{service.id}}
                        </td>
                        <td>{{service.name}}</td>
                        <td>{{service.description}}</td>
                        <td>{{service.average_price}}</td>
                        <td>
                            <span v-if="service.type==='product'">Товар</span>
                            <span v-else>Услуга</span>
                        </td>
                        <td>
                            {{service.notes}}
                        </td>
                        <td>
                            <img :src="service.image" style="max-width:100px">
                        </td>
                        <td>
                            <a class="btn btn-default btn-xs" href="#" data-toggle="modal" @click="selectedFile=null"
                               :data-target="'#char_'+index">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>

                            <button class="btn btn-danger btn-xs" @click="deleteProduct(service.id,index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>

                            <div class="modal fade" :id="'char_'+index" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">Изменить</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label class="control-label" :for="'name_'+index">Название</label>
                                                <input class="form-control" :id="'name_'+index" v-model="service.name"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" :for="'d_'+index">Описание</label>
                                                <input class="form-control" :id="'d_'+index"
                                                       v-model="service.description"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" :for="'type_'+index">Тип</label>
                                                <select class="form-control" :id="'type_'+index" v-model="service.type"
                                                        required>
                                                    <option value="product">Товар</option>
                                                    <option value="service">Услуга</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" :for="'p_'+index">Средняя цена</label>
                                                <input class="form-control" :id="'p_'+index"
                                                       v-model="service.average_price"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" :for="'notes'+index">Примечания</label>
                                                <input class="form-control" :id="'notes'+index"
                                                       v-model="service.notes"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Вариации</label>
                                                <button class="btn btn-primary" @click="openVars(index)">Редактировать</button>
                                            </div>
                                            <div class="form-group">
                                                <label>Добавить фото</label>
                                                <input type="file" @change="onFileChanged">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Закрыть
                                            </button>
                                            <button type="button" class="btn btn-primary" @click="editService(service)">
                                                Сохранить изменения
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <div class="modal fade" :id="'variant_'+index" tabindex="-1" role="dialog" :aria-labelledby="'myModalLabel_'+index" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" :id="'myModalLabel_'+index">Добавить варианты</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>
                                                        #
                                                    </th>
                                                    <th>
                                                        Название
                                                    </th>
                                                    <th>
                                                        Значение
                                                    </th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(variant,key) in service.variants">
                                                    <td>{{index+1}}</td>
                                                    <td><input class="form-control" v-model="variant.name"/></td>
                                                    <td><input class="form-control" v-model="variant.value"/></td>
                                                    <td>
                                                        <button class="btn btn-danger btn-xs" @click="deleteServiceVariant(index,key)">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <button class="btn btn-primary btn-xs" @click="service.variants.push({})">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </draggable>
            </table>
        </div>

        <div class="modal fade" id="variants" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Добавить варианты</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Название
                                    </th>
                                    <th>
                                        Значение
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(variant,key) in newService.variants">
                                    <td>{{key+1}}</td>
                                    <td><input class="form-control" v-model="variant.name"/></td>
                                    <td><input class="form-control" v-model="variant.value"/></td>
                                    <td>
                                        <button class="btn btn-danger btn-xs" @click="deleteVariant(key)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-primary btn-xs" @click="newService.variants.push({})">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import draggable from 'vuedraggable'

    export default {
        components: {
            draggable,
        },
        data() {
            return {
                services: [],
                query: '',
                result: '',
                showNew: false,
                newService: {
                    name: "",
                    description: "",
                    type: "",
                    variants: [],
                    average_price: ""
                },
                selectedFile: null,
            }
        },
        created() {
            this.getServices()
        },
        updated() {
            /* if(this.currentType!==this.type) {
                 this.getServices()
                 this.currentType = this.type;
             }*/
        },
        methods: {
            getServices() {
                axios.post('/lists/related_services', {searchQuery: this.query}).then(response => {
                    this.services = (response.data);
                });
            },
            deleteProduct(service_id, index) {
                axios.post('/lists/related_service/delete', {'id': service_id}).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                        // удаляем из массива
                        this.services.splice(index, 1)
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            creteRelatedService() {
                const formData = new FormData();
                if (this.selectedFile) {
                    formData.append('image', this.selectedFile, this.selectedFile.name);
                }
                formData.append('service', JSON.stringify(this.newService));
                axios.post('/lists/related_service/create', formData).then(response => {
                    this.services.push(response.data.response);
                    this.selectedFile = '';
                });
                this.newService = {
                    name: "",
                    description: "",
                    type: "",
                    variants: [],
                    average_price: ""
                };
            },
            editService(service) {
                const formData = new FormData()
                if (this.selectedFile) {
                    formData.append('image', this.selectedFile, this.selectedFile.name);
                }
                formData.append('service', JSON.stringify(service));
                axios.post('/lists/related_service/edit', formData).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                        this.result = 'Сохранено!';
                        this.selectedFile = '';
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            moved(newIndex, oldIndex, e) {
                // return false; — for cancel
                for (var i = 0; i < this.services.length; i++) {
                    this.services[i].order = i;
                }
                axios.post('/lists/related_services/order', {'services': this.services}).then(response => {
                    if (response.data.response.code == 1) {
                        console.log('ОК');
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            onFileChanged(event) {
                this.selectedFile = event.target.files[0]
            },
            deleteVariant(index) {
                this.newService.variants.splice(index, 1)
            },
            deleteServiceVariant(index, key) {
                this.services[index].variants.splice(key, 1)
            },
            openVars(index) {
                $('#variant_' + index).modal()
            }

        }
    }
</script>

<style scoped>

</style>