<template>
    <div>
        <h4>Товары</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <a href="/lists/product/create" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;
                        Добавить
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="/lists/products/export" target="_blank" class="btn btn-primary btn-xs">Export</a>
                </div>
                <div class="col-sm-4">
                    <form method="post" action="/lists/products/import" enctype="multipart/form-data"
                          class="form-inline">
                        <input type="hidden" name="_token" v-model="token">
                        <input class="form-control" type="file" name="file">
                        <button type="submit" class="btn btn-primary btn-xs">Import</button>
                    </form>
                </div>
            </div>
        </div>
        <div v-if="result" class="alert alert-info">
            <p class="text-muted">{{this.result}}</p>
        </div>
        <div class="table-responsive ">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Изображение</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Средняя цена</th>
                    <th>Сопутствующие услуги</th>
                    <th>Актуальность</th>
                    <th>Категория</th>
                    <th>Характеристики</th>
                    <th></th>
                </tr>
                </thead>
                <draggable v-model="products" @start="drag=true" @end="drag=false" @update="moved" element="tbody">
                    <tr v-for="(product,index) in products" :key="product.order">
                        <td>
                            {{product.id}}
                        </td>
                        <td><img v-if="product.images.length>0" style="max-width: 100px" :src="product.images[0].href">
                        </td>
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.average_price}}</td>
                        <td>
                            <ol v-if="product.related_services.length>0">
                                <li v-for="relatedService in product.related_services">{{relatedService.name}} <span class="text-muted">{{relatedService.average_price}} руб.</span> </li>
                            </ol>
                           <p>Итого: {{getRelatedSum(product.related_services)}} руб.</p>
                        </td>
                        <td><span v-if="product.is_actual" class="label label-success"><span
                                class="glyphicon glyphicon-ok-sign"></span></span></td>
                        <td>{{product.category?product.category.name:''}}</td>
                        <td>
                            <ol v-if="product.characters.length>0">
                                <li v-for="character in product.characters">{{character.name}}:
                                    {{character.pivot.quantity}} {{character.unit}}
                                </li>
                            </ol>
                        </td>

                        <td>
                            <a class="btn btn-default btn-xs" :href="'/lists/product/edit/'+product.id">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <button class="btn btn-danger btn-xs" @click="deleteProduct(product.id,index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </draggable>
            </table>
            <button class="btn btn-default btn-block" @click="loadMore">Загрузить больше</button>
        </div>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'

    export default {
        components: {
            draggable,
        },
        /*  name: "lists"*/
        data() {
            return {
                products: [],
                query: '',
                showCreate: false,
                /*     newCategoryName: '',*/
                result: '',
                page: 1,
                token: null,
            }
        },
        created() {
            this.getProducts()
        },
        mounted() {
            this.token = $('[name=csrf-token]').attr('content');
        },
        methods: {
            getProducts() {
                axios.post('/lists/products', {
                    searchQuery: this.query,
                    page: this.page
                }).then(response => {
                    this.products = this.products.concat(Object.values(response.data.data));
                });
            },
            deleteProduct(product_id, index) {
                axios.post('/lists/product/delete', {'id': product_id}).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                        // удаляем из массива
                        this.products.splice(index, 1)
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            moved(newIndex, oldIndex, e) {
                // return false; — for cancel
                for (var i = 0; i < this.products.length; i++) {
                    this.products[i].order = i;
                }
                axios.post('/lists/products/order', {'products': this.products}).then(response => {
                    if (response.data.response.code == 1) {
                        console.log('ОК');
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            loadMore() {
                this.page++;
                this.getProducts();
            },
            getRelatedSum(services) {
                var price = 0;
                services.forEach(function(service) {
                    price = price + parseInt(service.average_price);
                });
                return price;
            }
        }
    }
</script>

<style scoped>

</style>