<template>
    <div>
        <h4>Характеристики</h4>
        <div v-if="result" class="alert alert-info">
            <p class="text-muted">{{result}}</p>
        </div>
        <!-- Button trigger modal -->
        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
            Добавить
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Название модали</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" :for="'name_'">Название</label>
                            <input class="form-control" :id="'name_'" v-model="newCharacter.name"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" :for="'unit_'">Ед. измерения</label>
                            <input class="form-control" :id="'unit_'" v-model="newCharacter.unit"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" :for="'d_'">Описание</label>
                            <input class="form-control" :id="'d_'" v-model="newCharacter.description"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" @click="createCharacter">Сохранить изменения
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <draggable v-model="characters" @start="drag=true" @end="drag=false" @update="moved">
            <div class="well well-sm" v-for="(character,index) in characters" :key="character.order">
                {{character.name}}
                <div class="pull-right">
                    <a class="btn btn-default btn-xs" href="#" data-toggle="modal" :data-target="'#char_'+index">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <button class="btn btn-danger btn-xs " @click="deleteCharacter(character,index)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <div class="modal fade" :id="'char_'+index" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                </button>
                                <h4 class="modal-title">Изменить</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="control-label" :for="'name_'+index">Название</label>
                                    <input class="form-control" :id="'name_'+index" v-model="character.name"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" :for="'unit_'+index">Ед. измерения</label>
                                    <input class="form-control" :id="'unit_'+index" v-model="character.unit"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" :for="'d_'+index">Описание</label>
                                    <input class="form-control" :id="'d_'+index" v-model="character.description"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                <button type="button" class="btn btn-primary" @click="editCharacter(character)">
                                    Сохранить
                                    изменения
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </draggable>
    </div>
</template>

<script>

    import draggable from 'vuedraggable'
    export default {
        components: {
            draggable,
        },
        /* name: "lists"*/
        data() {
            return {
                characters: [],
                query: '',
                showCreate: false,
                result: '',
                newCharacter: {}
            }
        },
        created() {
            this.getCharacters()
        },
        methods: {
            getCharacters() {
                axios.post('/lists/characters', {searchQuery: this.query}).then(response => {
                    this.characters = (response.data);
                });
            },
            deleteCharacter(character, index) {
                axios.post('/lists/character/delete', {'id': character.id}).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                        this.result = 'Удалено!';
                        // удаляем из массива
                        this.characters.splice(index, 1)
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            editCharacter(character) {
                axios.post('/lists/character/edit', character).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                        this.result = 'Сохранено!';
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            createCharacter() {
                axios.post('/lists/character/create', this.newCharacter).then(response => {
                    if (response.data.response.code == 1) {
                        console.log('ОК');
                        // Добавляем из массива
                        this.characters.push(response.data.response.character)
                        this.newCharacter = {}
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            moved(newIndex, oldIndex, e) {
                // return false; — for cancel
                for(var i = 0;i<this.characters.length;i++)
                {
                    this.characters[i].order = i;
                }
                axios.post('/lists/characters/order', {'characters':  this.characters}).then(response => {
                    if (response.data.response.code == 1) {
                        console.log('ОК');
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>