<template>
    <div>
        <h4>Услуги</h4>

        <div class="form-group">
            <a href="/lists/service/create" class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;
                Добавить
            </a>
            <div class="radio-inline">
                <label>
                    <input type="radio" value="" v-model="filter"/>
                    Все
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" value="1" v-model="filter"/>
                    Услуги
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" value="0" v-model="filter"/>
                    Сервис
                </label>
            </div>
        </div>
        <div v-if="result" class="alert alert-info">
            <p class="text-muted">{{this.result}}</p>
        </div>
        <div class="table-responsive ">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th><a href="#" @click="switchSort('id')">ID</a></th>
                    <th><a href="#" @click="switchSort('name')">Название</a></th>
                    <th><a href="#" @click="switchSort('description')">Описание</a></th>
                    <th><a href="#" @click="switchSort('type')">Тип</a></th>
                    <th><a href="#" @click="switchSort('average_price')">Средняя цена</a></th>
                    <th><a href="#" @click="switchSort('terms')">Время выполнения</a></th>
                    <th><a href="#" @click="switchSort('verification')">Верификация</a></th>
                    <th></th>
                </tr>
                </thead>
                <draggable v-model="services" @start="drag=true" @end="drag=false" @update="moved" element="tbody">
                    <tr v-for="(service,index) in sortedServices(services,sortParam,sortDir)" :key="service.order">
                        <td>
                            {{service.id}}
                        </td>
                        <td>{{service.name}}</td>
                        <td>{{service.description}}</td>
                        <td>
                            <span v-if="service.type===1">
                                Услуги
                            </span>
                            <span v-else>
                                Сервис
                            </span>
                        </td>
                        <td>{{service.average_price}}</td>
                        <td>{{service.quantity}}
                            <span v-if="service.quantity_type==1">Часов</span>
                            <span v-else-if="service.quantity_type==2">Дней</span>
                            <span v-else>Месяцев</span>
                        </td>
                        <td>{{service.verification}}</td>
                        <td>
                            <a class="btn btn-default btn-xs" :href="'/lists/service/edit/'+service.id">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <button class="btn btn-danger btn-xs" @click="deleteProduct(service.id,index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </draggable>
            </table>
        </div>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'

    export default {
        components: {
            draggable,
        },
        data() {
            return {
                services: [],
                query: '',
                result: '',
                sortParam: 'order',
                sortDir: 'asc',
                currentType: this.type,
                filter: ''
            }
        },
        created() {
            this.getServices()
        },

        methods: {
            getServices() {
                axios.post('/lists/services', {searchQuery: this.query}).then(response => {
                    this.services = (response.data);
                });
            },
            deleteProduct(service_id, index) {
                axios.post('/lists/service/delete', {'id': service_id}).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                        // удаляем из массива
                        this.services.splice(index, 1)
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            moved(newIndex, oldIndex, e) {
                // return false; — for cancel
                for (var i = 0; i < this.services.length; i++) {
                    this.services[i].order = i;
                }
                axios.post('/lists/services/order', {'services': this.services}).then(response => {
                    if (response.data.response == 1) {
                        this.sortParam = 'order';
                        this.sortDir = 'asc';
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            sortedServices(users, value, direction) {
                return _.orderBy(users, value, direction).filter(this.filterServices);
            },
            filterServices(v, i, arr) {
                if (this.filter === '') {
                    return true;
                } else {
                    return v.type == this.filter;
                }
            },
            switchSort(param) {
                this.sortParam = param;
                if (this.sortDir === 'asc') {
                    this.sortDir = 'desc';
                } else {
                    this.sortDir = 'asc';
                }
            },
        }
    }
</script>

<style scoped>

</style>