<template>
    <div>
        <h4>Методы оплаты</h4>
        <div v-if="result" class="alert alert-info">
            <p class="text-muted">{{this.result}}</p>
        </div>
        <button class="btn btn-primary btn-xs" @click="showCreate = !showCreate">+ Добавить</button>
        <div v-if="showCreate" class="form-group">
            <hr>
            <div class="input-group">
                <input placeholder="Введите название" class="form-control" type="text" v-model="newPaymentName"
                       id="cat-create"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" @click="createPayment">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </span>
            </div>
        </div>
        <hr>
        <draggable v-model="payments" @start="drag=true" @end="drag=false" @update="moved">
            <div class="well well-sm" v-for="(payment,index) in payments" :key="payment.order">
                <div class="input-group">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" @click="editPayment(payment)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                </span>
                    <input placeholder="Введите название" class="form-control" type="text" v-model="payment.name"
                           id="cat-edit"/>
                    <span class="input-group-btn">

                        <button class="btn btn-danger" @click="deletePayment(payment.id,index)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                </span>
                </div>
            </div>
        </draggable>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'
    export default {
        components: {
            draggable,
        },
        /* name: "lists"*/
        data() {
            return {
                payments: [],
                query: '',
                showCreate: false,
                result: '',
                newPaymentName: ''
            }
        },
        created() {
            this.getPayments()
        },
        methods: {
            getPayments() {
                axios.post('/lists/payments', {searchQuery: this.query}).then(response => {
                    this.payments = (response.data);
                });
            },
            deletePayment(id, index) {
                axios.post('/lists/payment/delete', {'id': id}).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                        // удаляем из массива
                        this.payments.splice(index, 1)
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            editPayment(payment) {
                axios.post('/lists/payment/edit', payment).then(response => {
                    if (response.data.response == 1) {
                        console.log('ОК');
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            createPayment() {
                axios.post('/lists/payment/create', {name: this.newPaymentName}).then(response => {
                    if (response.data.response.code == 1) {
                        console.log('ОК');
                        // Добавляем из массива
                        this.payments.push(response.data.response.payment)
                        this.newPaymentName = ''
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            },
            moved(newIndex, oldIndex, e) {
                // return false; — for cancel
                for(var i = 0;i<this.payments.length;i++)
                {
                    this.payments[i].order = i;
                }
                axios.post('/lists/payments/order', {'payments':  this.payments}).then(response => {
                    if (response.data.response.code == 1) {
                        console.log('ОК');
                    } else {
                        console.log(response.data);
                        this.result = response.data.error.error_visualmsg;
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>