
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.autocomplete-list{
  ul{
    padding: 10px;
    z-index: 10;
    overflow-y: scroll;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 95%;
  }
}